.SideBar {
  display: flex;
  flex-direction: column;
  background: var(--dark);
  height: 100%;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  padding-top: 28px;
}

@media (--sm) {
  .SideBar {
    display: none;
  }
}
